[submodule "NetCode/Networking"]
	path = NetCode/Networking
	url = https://github.com/HyperSonic-Games/Networking
[submodule "ND Config/AposThemeNaturalDocs"]
	path = ND Config/AposThemeNaturalDocs
	url = https://github.com/Apostolique/AposThemeNaturalDocs.git
